body 
{
	background-color: black;
	background:
		url(https://wallpaperclicker.com/storage/wallpaper/abstract-art-wallpaper-black-and-white-wallpapers-high-quality-90074624.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a { color: blue;}

.well 
{ 
	background-color:rgba(0, 0, 0, 0.5);
	border-style: hidden;
        color: white;
        font-family: "Lucida Console", Monaco, monospace; 
	font-size: 18px;
}

.well a {  color: #1E90FF; }

#important
{
  color: white;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: white;
}

.well tr:hover {background-color: #DCDCDC;}


